* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;

}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: space-around;
}
h1 {
  font-size: 48px;
  font-weight: 600px;
  padding: 4rem;
}
h2 {
  font-size: 40px;
  font-weight: 400px;
  padding: 2rem;
}
.col-title {
  width: 50%;
  margin-top: 2rem;
}
.todo-item {
  border: 1px solid black;
  margin: 0.2rem;
}
#create-form {
  display: flex;
  flex-direction: column;
  
} 
#title {
  margin-bottom: 20px;
  height: 30px;
}
#description {
  height: 80px;
}
